.main{
    margin-top: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
    
}
.top-main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.top-main h1{
    font-size: 58px;
}
.top-main h4{
 font-size: 24px;
}

.top-main button{
    margin-top: 1rem;
    padding: 10px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}
.top-main button:hover{
    color:white;
    background-color: rgba(247, 241, 241, 0.2);
}

@media screen and (max-width : 767px) {
    .top-main h1{
        font-size: 36px;
    }
    .top-main button {
        font-size: 12px;
    }
    .top-main h4{
        font-size: 18px;
       }
}
